code/deep_learning/keras_CNN/data/cats_and_dogs_filtered.zip
code/deep_learning/keras_text_processing_and_embedding/data
code/deep_learning/keras_text_processing_and_embedding/glove.6B.zip
code/natural_language_processing/lecture_note/ted_en-20160408.xml
code/natural_language_processing/practice/ted_en-20160408.xml
code/natural_language_processing/practice/vectors.txt
code/deep_learning/keras_CNN/data/cats_and_dogs_filtered/train/cats
code/deep_learning/keras_CNN/data/cats_and_dogs_filtered/train/dogs
code/deep_learning/keras_CNN/data/cats_and_dogs_filtered/validation/cats
code/deep_learning/keras_CNN/data/cats_and_dogs_filtered/validation/dogs
code/deep_learning/keras_text_processing_and_embedding/pre_trained_glove_model.h5
code/deep_learning/keras_text_processing_and_embedding/word2vec.model